
#btn-back-to-top {
  position: fixed;
  bottom: 18%;
  right: 0.5%;
  display: none;
}

#btn-whatsapp{
position: fixed;
bottom: 26%;
right: 0.5%;
}

.bi-bi-star-fill{
  margin-bottom: 24;
}

.bi-instagram:hover{
  fill: #1C7C54 !important;  
}

.bi-facebook:hover{
  fill: #1C7C54 !important;  
}

